* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

#app {
    background-color: #000;
    padding: 10px;
    width: 400px;
}

#app #pantalla {
    padding: 10px;
    background-color:#000;
    font-size: 25px;
    color: white;
}

#app #btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#app .btn {
    background-color: darkgrey;
    color: white;
    padding: 10px;
    border: 1px solid mediumblue;
    font-weight: bold;
    font-size: 18px;
}

#app #btns .btn:hover{
    cursor: pointer;
    background-color:  chocolate;
}