*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

div.app{
    background-color:aquamarine;
    height: 100px;
    margin-top: 10px;
}

#popUp{
    position: absolute;
    padding: 20px;
    width: 40%;
    background-color:cornflowerblue;
    height: 50%;
    margin-left: 30%;
    margin-top: 10px;
}

#popUp h2{
    color: cornsilk;
    text-align: center;
    padding: 10px 0;
}

#popUp p{
    color: darkblue;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

#popUp div{
    background-color: #fff;
    width: 60%;
    margin: auto;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
    color: darkblue;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#popUp div:hover{
    background-color:darkcyan;
    cursor: pointer;
}