*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: deepskyblue;
    height: 45px;
}

nav ul{
    padding-top: 5px;
}

nav a {
    text-decoration:none;
    color:inherit;
    font-size:14px;
}

nav li {
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

nav li:hover{
    background-color:#fff;
    color:#000;
}

section{
    padding: 26%;
}

footer{
    width: 100%;
    background-color: lavender;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 45px;
}

#derecho{
    float:right;
    background-color: dimgrey;
    margin-top: 5px;
    height: 850px;
    width: 25%;
}

#tituloAside{
    color: floralwhite;
    padding-top: 425px;
}

#izquierdo{
    float: left;
    background-color: dimgrey;
    margin-top: 5px;
    height: 850px;
    width: 25%;
}

#tituloDerechoAside{
    color: floralwhite;
    padding-top: 425px;
}

#derechaFooter{
    float: right;
}

#izquierdaFooter{
    float: left;
}