*{
    padding: 0;
    margin: 0;
}
body{
    background-color: cornflowerblue;
}

nav{
    background: transparent;
}

nav > ul{
    float: right;
}

nav > ul >li {
    color: blanchedalmond;
    list-style-type: none;    
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 5px;
}

section{
    padding-top: 160px;
    width: 100%;
}

section > div{
    width: 46%;
    display: block;
    float: left;
    margin: 10px;
}

div > h1, h5{
    color: white;
    margin-bottom: 5px;
}

form{
    background-color: cornsilk;
}

form > p{
    margin: 5px;
    font-size: 26px;
}