*{
    padding: 0;
    margin: 0;
}
body{
    background-color: cornflowerblue;
}

nav{
    background: transparent;
}

nav > ul{
    float: right;
}

nav > ul >li {
    color: blanchedalmond;
    list-style-type: none;    
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 5px;
}

section{
    padding-top: 160px;
    width: 100%;
}

section > div{
    width: 46%;
    display: block;
    float: left;
    margin: 10px;
}

div > h1, h5{
    color: white;
    margin-bottom: 5px;
}

form{
    background-color: cornsilk;
}

form > p{
    margin: 5px;
    font-size: 26px;
}

#btn{
    background-color:rgb(49, 209, 174);
    display: inline-block;
    width: 150px;
    font-size: 12px;
    padding: 10px 4px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}


/* Formulario */

#form {
    background-color: white;
    float: right;
    width: 46%;
    border-radius: 15px;
    border: solid 2px white;
    display: block;
    box-sizing: border-box;
    height: 380px;
    margin-top: 30px;
}

#form > h2{
    text-align: center;
    color: slategrey;
}

.div1 input {
    background-color: aliceblue;
    padding: 12px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
}

button {
    color: white;
    background-color: dodgerblue;
    font-size: 20px;
    width: 420px;
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    border: none;
}